html {
  scroll-behavior: smooth;
  width: 100%;
  padding: 10px 10px 10px 10px;
}
html body {
  background-color: #011d76;
  color: #f4f4f4;
}
html body .header-website {
  margin-bottom: 5vw;
}
html footer {
  align-content: flex-end;
}
html footer .footer {
  display: flex;
  flex-direction: row;
  color: #f4f4f4;
  justify-content: space-between;
  padding-top: 10rem;
  font-size: small;
}
html footer .footer .link {
  color: #f4f4f4;
}
@media screen and (max-width: 768px) {
  html .header-website {
    justify-content: space-between;
  }
  html .header-website a {
    color: #f4f4f4;
    text-decoration: none;
  }
  html .header-website .logo {
    width: 5rem;
    border-radius: 50%;
  }
}
@media screen and (min-width: 768px) {
  html body {
    background-color: #011d76;
    color: #f4f4f4;
  }
  html body .logo {
    width: 7rem;
    border-radius: 50%;
  }
}

.header-website {
  font: 19px/25px Roboto, sans-serif;
}

body {
  font: 20px Roboto, sans-serif;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
}
.navbar .navlinks {
  list-style-type: none;
}
.navbar .navlinks .navlink {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .navbar .dropdown {
    position: relative;
    display: inline-block;
  }
  .navbar .dropdown .dropdown-button {
    background-color: #f4f4f4;
    color: #011d76;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
  }
  .navbar .dropdown .dropdown-button .bi .bi-list {
    width: 60px;
    height: 10000px;
    color: #011d76;
  }
  .navbar .dropdown .dropdown-button:active {
    background-color: #96c1ff;
    color: #011d76;
    border-radius: 5px;
  }
  .navbar .dropdown .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 100;
    background-color: #96c1ff;
    color: #011d76;
  }
  .navbar .dropdown .dropdown-content a {
    color: #011d76;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }
  .navbar:active .dropdown-content {
    display: block;
    background-color: #96c1ff;
    top: 100%;
    right: 0;
    transition: max-height 0.2s ease-out;
    border: solid;
    border-color: #f4f4f4;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    align-items: flex-start;
  }
  .dropdown {
    display: flex;
    flex-wrap: nowrap;
  }
  .dropdown-button {
    display: none;
  }
  .navlinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .navlinks .navlink {
    color: #f4f4f4;
    padding: 10px 20px;
  }
  .navlinks .navlink:hover {
    background-color: #96c1ff;
    color: #011d76;
    border-radius: 5%;
  }
}
.div-prez {
  align-content: center;
  background-color: #f4f4f4;
  color: #011d76;
  border-radius: 41px;
}

.slogan {
  text-align: center;
  color: #f4f4f4;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .presentation {
    display: flex;
    flex-direction: column;
  }
  .presentation .text-prez {
    padding: 10px 10px 10px 10px;
    font-size: 13px;
    align-items: center;
  }
  .presentation .img {
    width: 100%;
    height: 100%;
  }
  .slogan {
    text-align: center;
    color: #f4f4f4;
    font-weight: bold;
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .presentation {
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
  }
  .presentation .text-prez {
    padding: 15px;
  }
  .presentation .img {
    width: 630px;
    height: 350px;
  }
  .slogan {
    font-size: 36px;
    padding-bottom: 150px;
    padding-top: 150px;
  }
  .search-bar {
    background-color: #f4f4f4;
    color: #011d76;
    border-radius: 41px;
    margin-bottom: 10vw;
  }
  .search-bar .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
  }
  .search-bar .form .line {
    width: 2px;
    height: 30px;
    background-color: #011d76;
    margin: 0 5px;
  }
  .search-bar .form .no-border {
    border: none;
    background-color: #f4f4f4;
    color: #011d76;
  }
}
.summary-search-bar {
  background-color: #96c1ff;
  width: 100%;
  border-radius: 41px;
  margin-bottom: 10%;
}
.summary-search-bar .summary {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1vw;
  color: #011d76;
  align-items: baseline;
}
.summary-search-bar .summary .filter {
  border-style: none;
  background-color: #011d76;
  color: #f4f4f4;
  border-radius: 50px;
}

.card {
  margin-bottom: 2rem;
}

.card-header {
  background-color: #94c70a;
  opacity: 80%;
  color: #f4f4f4;
  padding: 1rem;
  font-size: 1.2rem;
}

.card-body {
  color: #011d76;
  background-color: #f4f4f4;
}
.card-body .card-title .profil {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.card-body .card-title .profil .photo-profil {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.card-body .card-title .profil .note {
  display: flex;
  align-items: baseline;
}
.card-body .price {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
  font-style: oblique;
}
.card-body .trajet {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0;
}
.card-body .details {
  display: flex;
  justify-content: flex-end;
}
.card-body .details .btn-details {
  background-color: #011d76;
}

.accordion-item {
  color: #011d76;
}

.accordion-button {
  font-size: 20px;
}

.people-review {
  display: flex;
}
.people-review .photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.d-flex {
  justify-content: flex-end;
}

a {
  text-decoration: none;
}
a .back {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #f4f4f4;
}
a .back .bi-arrow-left {
  height: 2rem;
  width: 2rem;
}

@media screen and (min-width: 768px) {
  .photo {
    width: 5rem;
    height: 5rem;
  }
}/*# sourceMappingURL=main.css.map */