html {
  scroll-behavior: smooth;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 10px;
}
html body {
  background-color: #011d76;
  color: #f4f4f4;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .header-website {
    margin-bottom: 50px;
  }
  .header-website a {
    color: #f4f4f4;
    text-decoration: none;
  }
  .header-website .logo {
    width: 10rem;
    border-radius: 50%;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: #011d76;
    color: #f4f4f4;
    width: -moz-fit-content;
    width: fit-content;
  }
  body .logo {
    width: 10rem;
    border-radius: 50%;
  }
}
.header-website {
  font: 19px/25px Roboto, sans-serif;
}

body {
  font: 20px Roboto, sans-serif;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
.navbar .navlinks {
  list-style-type: none;
}
.navbar .navlinks .navlink {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .navbar .dropdown {
    position: relative;
    display: inline-block;
  }
  .navbar .dropdown .dropdown-button {
    background-color: #f4f4f4;
    color: #011d76;
    width: 70px;
    height: 70px;
    border-radius: 5px;
  }
  .navbar .dropdown .dropdown-button:active {
    background-color: #96c1ff;
    color: #011d76;
    border-radius: 5%;
  }
  .navbar .dropdown .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 100;
    background-color: #96c1ff;
    color: #011d76;
  }
  .navbar .dropdown .dropdown-content a {
    color: #011d76;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }
  .navbar:active .dropdown-content {
    display: block;
    background-color: #96c1ff;
    top: 100%;
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .dropdown-button {
    display: none;
  }
  .navlinks {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: nowrap;
  }
  .navlinks .navlink {
    color: #f4f4f4;
    padding: 10px 20px;
  }
  .navlinks .navlink:hover {
    background-color: #96c1ff;
    color: #011d76;
    border-radius: 5%;
  }
}
footer {
  align-content: flex-end;
}
footer .footer {
  display: flex;
  flex-direction: row;
  color: #f4f4f4;
  justify-content: space-between;
}
footer .footer .link {
  color: #f4f4f4;
}

.presentation {
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
.presentation .div-prez {
  align-content: center;
  background-color: #f4f4f4;
  color: #011d76;
  border-radius: 41px;
}
.presentation .text-prez {
  padding: 15px;
}
.presentation .img {
  width: 630px;
  height: 350px;
}

.slogan {
  text-align: center;
  color: #f4f4f4;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 150px;
  padding-top: 150px;
}

.search-bar {
  background-color: #f4f4f4;
  color: #011d76;
  border-radius: 41px;
  height: 70px;
  margin-bottom: 250px;
}
.search-bar .form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}
.search-bar .form .line {
  width: 2px;
  height: 30px;
  background-color: #011d76;
  margin: 0 5px;
}
.search-bar .form .no-border {
  border: none;
  background-color: #f4f4f4;
  color: #011d76;
}/*# sourceMappingURL=main.css.map */