.navbar {
    background-color: var(--bg-main);
}


.btn-menu {
    width: 30px;
    height: 30px;
}

.menu li {
    color: var(--text-white);
}

.menu :hover {
    background-color: var(--bg-section);
    color: var(--text-black);
    border-radius: 6px;
}

.btn-header {
    background-color: var(--bg-section);
}






/*Style MOBILE*/
@media screen and (min-width:320px) and (max-width:767px) {
    .logo {
        width: 50%;
    }

    .menu li {
        color: var(--text-black);
        background-color: var(--bg-section);
    }

    .btn-desktop {
        display: none;
    }

    .btn-mobile {
        display: inline-block;
        color: #7A9E7E;
        font-size: 2rem;
        padding: 0.5rem;
    }


}

/*Style LAPTOP Medium*/
@media screen and (min-width:768px) {
    .logo {
        max-width: 15%;
    }

    .btn-mobile {
        display: none;
        font-size: 1.5rem;
        color: var(--main-color);
        padding: 0.5rem;
    }

    .btn-desktop {
        display: flex;
    }


}

