/*Reset du user agent*/
* {
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}


body {
  background-color: var(--bg-main);
  color: var(--text-white);
  min-height: 100vh;
}

footer {
  background-color: var(--bg-main);
  color: var(--text-white);
}

.bg-lightblue {
  background-color: var(--bg-section);
}

.bg-white {
  background-color: var(--text-white);
}

.bg-green {
  background-color: var(--secondary-color);
}

.fa-pagelines {
  color: var(--secondary-color);
}

.fa-envira {
  color: green;
}

.fa-ban{
  color:red;
}