.searchCard{
    background-color: rgba(110, 160, 177, 0.5);
}

.trip {
    background-color: var(--text-white);
}

.trip:hover{
    box-shadow: 0 15px 30px rgba(102, 192, 234, 0.4);
}


.btn-search {
    width: 100%;
    padding: 16px;
    background: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 30px;
}

.btn-search:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(102, 234, 161, 0.4);
}

.details:hover{
    box-shadow: 0 15px 30px var(--bg-section);
}

.map{
    max-width:50vw;
    max-height:40vw;
}