footer {
  align-content: flex-end;
  .footer {
    display: flex;
    flex-direction: row;
    color: $white;
    justify-content: space-between;
    padding-top: 20vw;
    .link {
      color: $white;
    }
  }
}
