html {
  scroll-behavior: smooth;
  width: 100%; //pas touche
  padding: 10px 10px 10px 10px;
  body {
    background-color: $primary;
    color: $white;

    .header-website {
      margin-bottom: 5vw;
    }
  }
  footer {
    align-content: flex-end;
    .footer {
      display: flex;
      flex-direction: row;
      color: $white;
      justify-content: space-between;
      padding-top: 100vw;
      font-size: small;
      .link {
        color: $white;
      }
    }
  }

  ///layout mobile

  @media screen and (max-width: 768px) {
    .header-website {
      justify-content: space-between;
      a {
        color: $white;
        text-decoration: none;
      }
      .logo {
        width: 5rem;
        border-radius: 50%;
      }
    }
  }

  ///layout pc

  @media screen and (min-width: 768px) {
    body {
      background-color: $primary;
      color: $white;

      .logo {
        width: 10rem;
        border-radius: 50%;
      }
    }
  }
}
