html {
  scroll-behavior: smooth;
  max-width: fit-content; //pas touche
  padding: 10px;
  body {
    background-color: $primary;
    color: $white;
    width: fit-content;

    .header-website {
      margin-bottom: 5vh;
    }
  }
}

///layout mobile

@media screen and (max-width: 768px) {
  .header-website {
    margin-bottom: 50px;
    a {
      color: $white;
      text-decoration: none;
    }

    .logo {
      width: 10rem;
      border-radius: 50%;
    }
  }
}

///layout pc

@media screen and (min-width: 768px) {
  body {
    background-color: $primary;
    color: $white;
    width: fit-content;

    .logo {
      width: 10rem;
      border-radius: 50%;
    }
  }
}
