.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;

  .navlinks {
    list-style-type: none;
    .navlink {
      text-decoration: none;
    }
  }

  /// mobile
  @media screen and (max-width: 768px) {
    .dropdown {
      position: relative;
      display: inline-block;

      .dropdown-button {
        background-color: $white;
        color: $primary;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        border: none;

        .bi .bi-list {
          width: 40px;
          height: 40px;
          color: $primary;
        }

        &:active {
          background-color: $secondary;
          color: $primary;
          border-radius: 5px;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 100;
        background-color: $secondary;
        color: $primary;

        a {
          color: $primary;
          padding: 10px 15px;
          text-decoration: none;
          display: block;
        }
      }
    }
    &:active .dropdown-content {
      display: block;
      background-color: $secondary;
      top: 100%;
      right: 0;
      transition: max-height 0.2s ease-out;
    }
  }
}

///grand ecran
@media screen and (min-width: 768px) {
  .navbar {
    align-items: flex-start;
  }
  .dropdown {
    display: flex;
    flex-wrap: nowrap;
  }
  .dropdown-button {
    display: none;
  }

  .navlinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .navlink {
      color: $white;
      padding: 10px 20px;

      &:hover {
        background-color: $secondary;
        color: $primary;
        border-radius: 5%;
      }
    }
  }
}
