.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;

  .navlinks {
    list-style-type: none;
    .navlink {
      text-decoration: none;
    }
  }

  @media screen and (max-width: 768px) {
    .dropdown {
      position: relative;
      display: inline-block;

      .dropdown-button {
        background-color: $white;
        color: $primary;
        width: 70px;
        height: 70px;
        border-radius: 5px;

        &:active {
          background-color: $secondary;
          color: $primary;
          border-radius: 5%;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 100;
        background-color: $secondary;
        color: $primary;

        a {
          color: $primary;
          padding: 10px 15px;
          text-decoration: none;
          display: block;
        }
      }
    }
    &:active .dropdown-content {
      display: block;
      background-color: $secondary;
      top: 100%;
      right: 0;
    }
  }
}

///grand ecran
@media screen and (min-width: 768px) {
  .dropdown-button {
    display: none;
  }

  .navlinks {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: nowrap;

    .navlink {
      color: $white;
      padding: 10px 20px;

      &:hover {
        background-color: $secondary;
        color: $primary;
        border-radius: 5%;
      }
    }
  }
}
