.summary-search-bar {
  background-color: $secondary;
  width: 100%;
  border-radius: 41px;
  margin-bottom: 10%;
  .summary {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1vw;
    color: $primary;
    align-items: baseline;

    .filter {
      border-style: none;
      background-color: $primary;
      color: $white;
      border-radius: 50px;
    }
  }
}

.card {
  margin-bottom: 2rem;
}
.card-header {
  background-color: $green;
  opacity: 80%;
  color: $white;
  padding: 1rem;
  font-size: 1.2rem;
}

.card-body {
  color: $primary;
  background-color: $white;

  .card-title {
    .profil {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      .photo-profil {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
      }
      .note {
        display: flex;
        align-items: baseline;
      }
    }
  }

  .price {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
    font-style: oblique;
  }

  .trajet {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
  }

  .details {
    display: flex;
    justify-content: flex-end;

    .btn-details {
      background-color: $primary;
    }
  }
}

///.result {
///  display: grid;
///  grid-template-columns: 1fr 4fr;
///  padding-bottom: 40px;
///  align-items: center;
///
///  .place {
///    background: linear-gradient(to right, #96c1ff, rgba(150, 193, 255, 0));
///    color: $primary;
///    width: 70%;
///    font-size: 13px;
///  }
///  .bid {
///    background-color: $white;
///    color: $primary;
///    display: flex;
///    font-size: 1rem;
///    justify-content: space-between;
///    align-items: center;
///
///    .profil {
///      display: flex;
///      flex-direction: column;
///      align-items: center;
///      padding-left: 1rem;
///
///      .photo-profil {
///        width: 40px;
///        height: 40px;
///        border-radius: 50%;
///      }
///
///      .note {
///        display: flex;
///        align-items: baseline;
///      }
///    }
///
///    .line {
///      width: 2px;
///      height: 5rem;
///      background-color: $primary;
///      margin: 0 5px;
///    }
///
///    .details {
///      border: none;
///      color: $primary;
///    }
///  }
///}
///
///// mobile
///@media screen and (max-width: 768px) {
///  .trajet-eco {
///    display: none;
///  }
///  .logo-eco {
///    width: 4rem;
///    height: fit-content;
///  }
///}
///// desktop
///@media screen and (min-width: 768px) {
///  .trajet-eco {
///    font-size: 16px;
///  }
///  .logo-eco {
///    width: 60%;
///    height: fit-content;
///  }
///}
